body {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    /* adding background image 
    background-image: url(/week6/images/white_brick_wall.png); OJO this method could send you off track, it may or may not work. */
    background-image: url(../images/white_brick_wall.png);
}

.container {
    max-width:1200;
    margin: 0 auto;
}

img {
    width: 100%;
}

/*Display and Box Sizing */
nav ul li{
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    padding: 1em;
}
nav ul a {
    display: block;
}

/* 
    This is a CSS Comment
    Shortcut for adding then comment Command + / or Control + /
  */
h1 {
    color: peru;
}


p {
    background-color: lightblue;
}

/* Selecting multiple elements to add same styles */
h1,
h2,
h3,
h4 {
    text-decoration: underline;
}

/* Selecting child elements */
nav ul {
    list-style: none;
}

/* Selecting child elements multiple levels */
nav ul a {
    color: inherit;
    text-decoration: none;
}
/* Select two classes at the same time, put the first + . (with no space) + second class) */
.orange-link.large-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Selecting element with id value */
   /* ALWAYS USE A BACKGROUND COLOR IN CASE IMAGE IS BROKEN LINK 
    SUPPORT OLDER BROWSER WITH background-size: cover;*/
#treatofweek {
    /*always use position absolute and relative */
 position: relative;

    background: orange url(../images/bread.jpg) no-repeat center center;
    background-size: cover;
    color: rgb(255, 255, 255);

    font-size: 1.25rem;
/* 1.25 x 16 (default) = 20px */
/* 1em = 20px */
padding: 1em 1em 5em 1em;



}



/* Selecting elements with class value */
.orange-link {
    background-color: darkslategrey;
    color: orange;
    text-decoration: none;
    display: block;
    padding: 1.5em;
    width: 300px;
}

/*FLOAT */
article,
aside {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    float: left;
}
aside {
    width: 20%;
}

/* clear the float for the sections */
section {
    clear: both;
}

.large-text {
    font-size: 24px;
}

/* Child selector or direct child selector */

article>p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.6;
    text-transform: lowercase;
    text-align: center;

}

/* Adjacent sibling selector */
h3+ul {
    /* thickness style color */
    border: 1px solid black;
}

/* Attribute selector */

[href="#treatofweek"] {
    font-weight: bold;
}

/* 
    Using Pseudo Classes 
    Styling the navigation
    LoVe HAte
  */
nav ul a,
nav ul a:link,
nav ul a:visited {
    background-color: orange;
    /* horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus {
    text-decoration: underline;
}

nav ul a:active {
    /* horizontal vertical blur spread color */
    box-shadow: 0 0 4px 2px black;
}

/* Position related selectors */

/* first-child and last-child */
aside ul li:first-child {
    font-weight: bold;
}

section ol li:last-child {
    font-weight: bold;
}

/* Styling table */
table {
    border-collapse: collapse;
}

/* nth-child selector with odd/even keyword */
tbody tr:nth-child(even) {
    /* 6 digit hex */
    background-color: #d5836c;
}

/* nth-child selector with n. where n is 0,1,2,3... */
table th:nth-child(n),
table td:nth-child(n) {
    /* 3 digit hex */
    border: 1px solid #000;
}

/* 
    nth-child selector with a formula 
    n    = 0, 1, 2, 3, ..
    2n+1 = 1, 3, 5, 7, ..
  */
table td:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.2);
}

/* 
    CSS Specificity
    Formula: inline-styles id class tag-name
  */

/* 0001 */
footer {
    background-color: aqua;
}

/* 0001 */
footer {
    background-color: red;
}


/* 0002 */
body footer {
    background-color: orange;
}

/* 0010 */
.site-footer {
    background-color: cornflowerblue;
}

/* 0011 */
footer.site-footer {
    background-color: teal;
}

/* CSS BOX MODEL */
article section h3{
    background-color: rgb(159, 140, 177);
    padding: 1em;
    width: 50%;
}
section p{
    width: 50%;
    /* top-bottom left-right ; Padding cannot have negative value*/
    padding: 1em .5em;
    /* top right bottom left (go clockwise) */
    margin: -2em 2em 2em 2em;
    border-bottom: 2px dashed black;

}